.container{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: darkblue;
  padding: 5px;
}
.container div{
  background-color: aquamarine;
  padding: 10px;
  margin: 3px;
  text-align: center;
}
#i1{

  grid-column-start: 1;
  grid-column-end: 5;
  background-color: white;
}